---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Sou um profissional versátil, com conhecimentos sólidos em desenvolvimento web e uma paixão por aprender e aplicar novas tecnologias. Minha experiência abrange desde o desenvolvimento de sistemas até o ensino e a análise financeira..
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educação</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UNOPAR - Graduação"
      subtitle="2011 to 2014 at Suzano"
    />
    <TimeLineElement
      title="UNISA - Graduação"
      subtitle="2009 to 2011 at Suzano"
    />
    <TimeLineElement
      title="OMEC - Graduação"
      subtitle="2003 to 2006 at Mogi"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Brandev Tech - PJ"
      subtitle="De 2015 até agora"
    >
      Implantação de soluções completas de software em aplicações web híbridas e responsivas com foco na disponibilidade, flexibilidade e experiência do usuário. 
    </TimeLineElement>
    <TimeLineElement
      title="ComercialSmart - CLT"
      subtitle="De 2015 a 2021 em São Paulo"
    >
      Implantação de ERP em servidor local para controle de assistência técnica, logística e SAC de produtos para revenda. O sistema foi utilizado por mais de 50 funcionários espalhados por 5 filiais na grande São Paulo.
    </TimeLineElement>
    <TimeLineElement
      title="Metalúrgica Rocha - CLT"
      subtitle="De 2011 a 2015 em Suzano"
    >
      Infraestrutura de Rede e manutenção de software de apoio a revenda de materiais para construção por todo o Brasil. Minhas atribuições incluíam Troubleshooting e Testes de Qualidade.
    </TimeLineElement>
    <TimeLineElement
      title="Experiências anteriores CLT"
      subtitle="De 2000 a 2011 em Suzano"
    >
      Bancário no banco Bradesco, Analista Financeiro no Clube de Campo e Professor de escolas Técnicas e públicas.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <span> Cisco CCNA (Redes)</span>
    </li>
    <li>
      <span> Mikrotik MTCNA1/2 (Redes)</span>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>MVC PHP 5/8</li>
    <li>JavaScript</li>
    <li>JQuery</li>
    <li>Bootstrap 4/5</li>
    <li>NodeJs</li>
    <li>React</li>
    <li>Docker</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>API Rest</li>
    <li>Gulp</li>
    <li>PWA</li>
    <li>Kanban</li>
    <li>Prisma</li>
    <li>Firebase</li>
    <li>Git Actions</li>
    <li>Git Flow</li>
    <li>TailWind</li>
    <li>NextJS</li>
    <li>MySQL</li>
    <li>NextAuth</li>
    <li>Astro</li>
    <li>HTMX</li>
    <li>ServiceWorkers</li>
    <li>PHPUnity</li>
  </ul>
</BaseLayout>
