---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá! 👋</div>
    <div class="text-5xl font-bold">Sou Anderson Brandão</div>
    <div class="text-3xl py-3 font-bold">FullStack Developer</div>
    <div class="py-2">
      <text class="text-lg">
         <p class="indent-10">
         Com uma trajetória profissional de uma década, tenho canalizado minha paixão pelo desenvolvimento na criação de soluções robustas e inovadoras. Minha abordagem une expertise prática a um sólido conhecimento técnico, resultando na entrega consistente de produtos de alta qualidade.
         </p>
         <p class="indent-10">
         Ao longo da maior parte da minha carreira, desenvolvi projetos utilizando MVC-PHP, utilizando meu próprio framework, combinado com jQuery e Bootstrap. Contudo, meu comprometimento com a evolução constante sempre me leva a explorar novas fronteiras.
         </p>
         <p class="indent-10">
         Em uma busca contínua pela excelência, já entreguei soluções desenvolvidas com React, utilizando o novíssimo Next 14, e atualmente estou aplicando o Astro com o HTMX e Tailwind para criar experiências web ainda mais dinâmicas e eficientes.
         </p>         
         <p class="indent-10"> 
         Essa abordagem reflete meu compromisso inabalável em utilizar as tecnologias mais avançadas disponíveis, assegurando que minhas aplicações estejam sempre à frente no panorama digital e ao mesmo tempo mantendo habilidades em trabalhar com arquiteturas legadas.
         </p>

      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://wa.me/5511943646208" target="_blank"> Contato</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Planilha"
    img="/post_img.webp"
    desc="Sistema de controle de gastos, desenvolvido com PHP8, MVC, Bootstrap e jQuery."
    url="#"
    badge="Público"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Santa Lolla"
    img="/post_img.webp"
    desc="Controle de ponto e escala de folgas de funcionários de uma loja de calçados no Shopping de Mogi. Desenvolvido com o React do Next14 e hospedado na Vercel."
    url="#"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Facility Serve"
    img="/post_img.webp"
    desc="Controle de atendimento de assistência técnica com geolocalização de equipes de suporte. Emissão de ordens de serviço, cadastro de clientes e peças."
    url="#"
    badge="Saas"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
