---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const props = Astro.props
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá! 

    </div>
    <div class="text-5xl font-bold">Sou Anderson Brandão</div>
    <div class="text-3xl py-3 font-bold">Desenvolvedor Pleno</div>
    <div class="py-2">
      <text class="text-lg">
         <p class="indent-10">
         Com uma trajetória profissional de uma década, tenho canalizado minha paixão pelo desenvolvimento na criação de soluções robustas e inovadoras. Minha abordagem une expertise prática a um sólido conhecimento técnico, resultando na entrega consistente de produtos de alta qualidade.
         </p>
         <p class="indent-10">
         Ao longo da maior parte da minha carreira, desenvolvi projetos utilizando MVC-PHP, utilizando meu próprio framework, combinado com jQuery e Bootstrap. Contudo, meu comprometimento com a evolução constante sempre me leva a explorar novas fronteiras.
         </p>
         <p class="indent-10">
         Em uma busca contínua pela excelência, já entreguei soluções desenvolvidas com React, utilizando o novíssimo Next 14, e atualmente estou aplicando o Astro com o HTMX e Tailwind para criar experiências web ainda mais dinâmicas e eficientes.
         </p>         
         <p class="indent-10"> 
         Essa abordagem reflete meu compromisso inabalável em utilizar as tecnologias mais avançadas disponíveis, assegurando que minhas aplicações estejam sempre à frente no panorama digital e ao mesmo tempo mantendo habilidades em trabalhar com arquiteturas legadas.
         </p>

      </text>
    </div></div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Projetos recentes</div>
  </div>

  <HorizontalCard
    title="Planilha"
    img="/planilha.jpg"
    desc="Controle seus gastos e faça seu planejamento financeiro de forma simples e direta. Desenvolvido com PHP8, MVC, Bootstrap e jQuery."
    url="https://planilha.brandev.tech/"
    badge="Público"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Santa Lolla"
    img="/santalolla.jpg"
    desc="Controle de ponto e escala de folgas de funcionários de uma loja de calçados no Shopping de Mogi. Desenvolvido com o React do Next14 e hospedado na Vercel."
    url="https://santalolla.vercel.app"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Facility Serve"
    img="/facility.jpg"
    desc="Controle de atendimento de assistência técnica com geolocalização de equipes de suporte. Emissão de ordens de serviço, cadastro de clientes e peças."
    url="#"
    badge="Saas"
  />
<br>
<br>
<div class="text-3xl w-full font-bold my-5">Empresas Atendidas</div>
  <div class="flex flex-wrap justify-between">

      <!-- CONTROL PLUS -->
      <div class="mt-5 px-2">
         <a href="https://controlplus.ind.br/" target="_blank">
            <img src="https://controlplus.ind.br/wp-content/uploads/2023/10/logo_controlplus-1-280x63.png" alt="CONTROLPLUS" width="200px">
         </a>
      </div>

    <!-- SALDAO -->
    <div class="pt-5 px-2">
      <a href="https://www.instagram.com/saldaomogi/" target="_blank">
         <img src="https://sistema.saldaomogi.com/IMG/PWA/128.png" alt="SALDAOMOGI" width="50px">
      </a>
    </div>

    <!-- SERROS -->
    <a href="https://serros.com.br/" target="_blank" class="mt-5 px-2">
      <img src="https://serros.com.br/wp-content/uploads/2021/06/cropped-Logo-Serros.png" alt="SERROS" width="200px">
    </a>

    <!-- CENTERCELL -->
    <a href="http://centercell.com.br/" target="_blank" class="mt-5 px-2">
      <img src="/cc.png" alt="CENTER CELL"  width="100px">
    </a>

    <!-- SMART -->
    <a href="https://www.facebook.com/comercial.smart/" target="_blank" class="mt-5 px-2">
      <img src="/sm.jpeg" alt="SMART"  width="50px">
    </a>

    <!-- SANTA LOLLA -->
    <a href="https://www.santalolla.com.br/" target="_blank" class="mt-5 px-2 pt-2">
      <img src="https://santalolla.vtexassets.com/assets/vtex.file-manager-graphql/images/59d833e9-39a0-471f-a2c1-c1dd82779c79___16a357575a813dc10177ccb77de9ce90.png" alt="FACILITY"  width="100px">
    </a>
  </div>
</BaseLayout>
