---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
const props = Astro.props
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá! 

    </div>
    <div class="text-5xl font-bold">Sou Anderson Brandão</div>
    <div class="text-3xl py-3 font-bold">FullStack Developer</div>
    <div class="py-2">
      <text class="text-lg">
         <p class="indent-10">
         Com uma trajetória profissional de uma década, tenho canalizado minha paixão pelo desenvolvimento na criação de soluções robustas e inovadoras. Minha abordagem une expertise prática a um sólido conhecimento técnico, resultando na entrega consistente de produtos de alta qualidade.
         </p>
         <p class="indent-10">
         Ao longo da maior parte da minha carreira, desenvolvi projetos utilizando MVC-PHP, utilizando meu próprio framework, combinado com jQuery e Bootstrap. Contudo, meu comprometimento com a evolução constante sempre me leva a explorar novas fronteiras.
         </p>
         <p class="indent-10">
         Em uma busca contínua pela excelência, já entreguei soluções desenvolvidas com React, utilizando o novíssimo Next 14, e atualmente estou aplicando o Astro com o HTMX e Tailwind para criar experiências web ainda mais dinâmicas e eficientes.
         </p>         
         <p class="indent-10"> 
         Essa abordagem reflete meu compromisso inabalável em utilizar as tecnologias mais avançadas disponíveis, assegurando que minhas aplicações estejam sempre à frente no panorama digital e ao mesmo tempo mantendo habilidades em trabalhar com arquiteturas legadas.
         </p>

      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://wa.me/5511943646208" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" {...props}>
	<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
		<path stroke-dasharray="64" stroke-dashoffset="64" d="M8 3C8.5 3 10.5 7.5 10.5 8C10.5 9 9 10 8.5 11C8 12 9 13 10 14C10.3943 14.3943 12 16 13 15.5C14 15 15 13.5 16 13.5C16.5 13.5 21 15.5 21 16C21 18 19.5 19.5 18 20C16.5 20.5 15.5 20.5 13.5 20C11.5 19.5 10 19 7.5 16.5C5 14 4.5 12.5 4 10.5C3.5 8.5 3.5 7.5 4 6C4.5 4.5 6 3 8 3Z">
			<animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0" />
			<animateTransform attributeName="transform" begin="0.6s;lineMdPhoneCallLoop0.begin+2.6s" dur="0.5s" type="rotate" values="0 12 12;15 12 12;0 12 12;-12 12 12;0 12 12;12 12 12;0 12 12;-15 12 12;0 12 12" />
		</path>
		<path stroke-dasharray="4" stroke-dashoffset="4" d="M14 7.04404C14.6608 7.34734 15.2571 7.76718 15.7624 8.27723M16.956 10C16.6606 9.35636 16.2546 8.77401 15.7624 8.27723" opacity="0">
			<set id="lineMdPhoneCallLoop0" attributeName="opacity" begin="0.7s;lineMdPhoneCallLoop0.begin+2.7s" to="1" />
			<animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s;lineMdPhoneCallLoop0.begin+2.7s" dur="0.2s" values="4;8" />
			<animate fill="freeze" attributeName="stroke-dashoffset" begin="1.3s;lineMdPhoneCallLoop0.begin+3.3s" dur="0.3s" values="0;4" />
			<set attributeName="opacity" begin="1.6s;lineMdPhoneCallLoop0.begin+3.6s" to="0" />
		</path>
		<path stroke-dasharray="10" stroke-dashoffset="10" d="M20.748 9C20.3874 7.59926 19.6571 6.347 18.6672 5.3535M15 3.25203C16.4105 3.61507 17.6704 4.3531 18.6672 5.3535" opacity="0">
			<set attributeName="opacity" begin="1s;lineMdPhoneCallLoop0.begin+3s" to="1" />
			<animate fill="freeze" attributeName="stroke-dashoffset" begin="1s;lineMdPhoneCallLoop0.begin+3s" dur="0.2s" values="10;20" />
			<animate fill="freeze" attributeName="stroke-dashoffset" begin="1.5s;lineMdPhoneCallLoop0.begin+3.5s" dur="0.3s" values="0;10" />
			<set attributeName="opacity" begin="1.8s;lineMdPhoneCallLoop0.begin+3.8s" to="0" />
		</path>
	</g>
</svg>
      
       Contato</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Planilha"
    img="/planilha.jpg"
    desc="Controle seus gastos e faça seu planejamento financeiro de forma simples e direta. Desenvolvido com PHP8, MVC, Bootstrap e jQuery."
    url="https://planilha.brandev.tech/"
    badge="Público"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Santa Lolla"
    img="/santalolla.jpg"
    desc="Controle de ponto e escala de folgas de funcionários de uma loja de calçados no Shopping de Mogi. Desenvolvido com o React do Next14 e hospedado na Vercel."
    url="https://santalolla.vercel.app"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Facility Serve"
    img="/facility.jpg"
    desc="Controle de atendimento de assistência técnica com geolocalização de equipes de suporte. Emissão de ordens de serviço, cadastro de clientes e peças."
    url="#"
    badge="Saas"
  />
</BaseLayout>
