---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projetos Corporativos</div>
  </div>

  <HorizontalCard
    title="StoneClean"
    img="/01.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <HorizontalCard
    title="SASVIA"
    img="/06.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Saldão Mogi"
    img="/04.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projeto pessoal</div>
  </div>

  <HorizontalCard
    title="My Box"
    img="/05.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Outros</div>
  </div>

  <div><span class="font-bold">Sanitrex</span> - Cálculo de concentração de fluidos quimicos específicos mediante dimensões do tanque e canais de distribuição fornecidas pelo usuário em tempo real.</div>
  
  <div class="mt-3"><span class="font-bold">AGE</span> - Administração e Gestão Escolar. Aplicação de apoio para professores de escola pública infantil.</div>

  <div class="mt-3"><span class="font-bold">JBLima</span> - Microserviço para coleta de QRCode e gestão de logística em empresa de pintura de portas de refrigeradores.</div>
</BaseLayout>
