---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    Developed by Anderson Brandão &copy; {today.getFullYear()}
  </div>
</footer>
<style></style>
